#app{
    margin-top: 200px;
    margin-left:600px;
}
*:focus{
    outline: none !important;
}
img{
    width:150px;
    vertical-align: middle;
}
.title{
    font-size: 60px;
    font-family: cursive;
     
}
